*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/build/
*/build/
local.properties
.gradle/
gradle.properties
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/shelf
*.iml
*.log
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
.DS_Store
*.hprof
*.class
gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.jar
.gradle/
app/release/
app/debug/
